* {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: courier;
  cursor: none;
  // width: inherit;
  // min-height: inherit;
}
canvas {
  position: fixed !important;
  // max-width: 100%;
}

.cursor {
  position: fixed;
  width: 50px;
  top: -1px;
  height: auto;
  cursor: none;
  pointer-events: none;
  z-index: 99999999;
}

#sidebar {
  position: fixed;
  left: 0%;
  // margin-left: 2%;
  padding: 0;
  top: 40%;
  z-index: 9999;
}

.sidebars {
  padding: 20px 10px 10px 10px;
  // margin-left: 0;
  font-size: 20px;
  font-weight: bold;
  display: block;
  // cursor: pointer;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all 1s ease-in-out;
}
// .ch1,
// .ch2,
// .ch3,
// .ch4,
// .ch5,
// .ch6 {
//   transition: all 1s ease-in-out;
// }

.ch1-active,
.ch2-active,
.ch3-active,
.ch4-active,
.ch5-active,
.ch6-active {
  color: white;
  transition: all 1s ease-in-out;
}

// #link-part1 {
//   padding: 10px;
//   // margin-left: 0;
//   font-size: 20px;
//   display: block;
//   // cursor: pointer;
//   color: white;
//   text-align: center;
//   text-decoration: none;
//   font-size: 16px;
// }

.banner {
  //   // min-width: inherit;
  //   // position: fixed;
  // display: block;
  //   width: 100%;
  // height: 10%;
  margin-top: 2%;
  //   padding: 0 0 0 0;
  //   // background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: 2%;
  font-size: 2em;
  font-weight: normal;
  color: black;
  position: relative;
  text-align: center;
  top: 40%;
  // text-shadow: 1px 1px 2px white;
}
section {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  // padding: 5em;
  margin: 0;
  box-sizing: border-box;
  z-index: 5;
  position: relative;
}

.sis1 > img,
.sis2 > img,
.sis3 > img,
.sis4 > img,
.sis5 > img,
.sis6 > img {
  // display: flex;
  position: absolute;
  top: 70%;
  // bottom: 4%;
  left: 27%;
  z-index: 6;
  width: 20%;
  height: auto;
  opacity: 1;
  transition: all 1s ease-in-out;
  &:hover {
    transform: scale(1.5);
  }
}

.sis3gif > img {
  position: absolute;
  top: 70%;
  // bottom: 4%;
  left: 27%;
  z-index: 6;
  height: auto;
  opacity: 1;
  width: 20%;
  height: auto;
  transition: all 1s ease-in-out;
  &:hover {
    transform: scale(1.5);
  }
}

.sis3gif {
  // opacity: 0;
  // z-index: ;
  display: none;
}

.bro1 > img {
  position: absolute;
  top: 70%;
  left: 5%;
  z-index: 6;
  width: 15%;
  height: auto;
  opacity: 1;
  transition: all 1s ease-in-out;
  &:hover {
    transform: scale(1.5);
  }
}

.bro2 > img,
.bro3 > img,
.bro4 > img,
.bro5 > img,
.bro6 > img {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 25%;
  height: auto;
  z-index: 6;
  opacity: 1;
  transition: all 1s ease-in-out;
  &:hover {
    transform: scale(1.5);
  }
}
.bro4gif {
  display: none;
}

.dad1 > img,
.dad2 > img,
.dad3 > img,
.dad4 > img,
.dad5 > img,
.dad6 > img {
  position: absolute;
  top: 70%;
  left: 55%;
  z-index: 6;
  width: 20%;
  height: auto;
  opacity: 1;
  transition: all 1s ease-in-out;
  &:hover {
    transform: scale(1.5);
  }
  // color: red;/
}

.dadNoah {
  // position: relative;
  margin-top: 15%;
}

.mom1 > img,
.mom2 > img,
.mom3 > img,
.mom4 > img,
.mom5 > img,
.mom6 > img {
  position: absolute;
  top: 70%;
  left: 80%;
  z-index: 6;
  width: 20%;
  height: auto;
  opacity: 1;
  transition: all 1s ease-in-out;
  &:hover {
    transform: scale(1.5);
  }
}

#anxious {
  position: absolute;
  bottom: 10%;
  left: 8%;
  z-index: 6;
  font-size: 32px;
  color: white;
  // display: none;
}

#frantic {
  position: absolute;
  bottom: 10%;
  left: 60%;
  z-index: 6;
  font-size: 32px;
  color: white;
  // display: none;
}

#dieText {
  position: absolute;
  bottom: 10%;
  left: 30%;
  text-align: center;
  z-index: 6;
  font-size: 32px;
  font-weight: bold;
  color: black;
  z-index: 999;
}

#broDrawing,
#sisDrawing,
#dadStay {
  position: absolute;
  top: 80%;
  left: 43%;
  text-align: center;
  z-index: 6;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#conclusionText {
  background-color: rgba(248, 248, 255, 0.8);
  font-family: courier;
  position: relative;
  text-align: center;
  font-size: 22px;
  top: 25%;
  margin: 5%;
  padding: 15px;
}

#finishButton {
  // display: block;
  // width: 50%;
  // margin-top: 20px;
  margin-left: 45%;
  line-height: 30px;
  font-weight: bold;
  padding: 10px;
  background: rgba(248, 248, 255, 0.8);
  border: none;
  z-index: 99999;
  color: black;
  text-decoration: none;
  text-align: center;
}

#finishButton:hover {
  background: white;
}

video {
  z-index: 99999999999;
  margin-left: 50%;
}
