body {
  margin: 0;
  font-family: helvetica;
  cursor: none;
}
canvas {
  position: fixed !important;
}

.cursor {
  position: fixed;
  width: 50px;
  top: -1px;
  height: auto;
  cursor: none;
  pointer-events: none;
  z-index: 99999999;
}

h1,
h2,
h3 {
  // margin: 1em 0 0 0;
  margin: 0;
  font-size: 2em;
  font-weight: normal;
  color: white;
  position: relative;
}
section {
  width: 100%;
  height: 100vh;
  padding: 5em;
  box-sizing: border-box;
  z-index: 5;
  position: relative;
}

.sis1 > img,
.sis2 > img,
.sis3 > img {
  position: absolute;
  top: 70%;
  // bottom: 4%;
  left: 30%;
  z-index: 6;
  width: 20%;
  height: auto;
  opacity: 0.5;
}

.bro1 > img,
.bro2 > img,
.bro3 > img {
  position: absolute;
  top: 70%;
  left: 5%;
  z-index: 6;
  width: 15%;
  height: auto;
  opacity: 0.5;
}

.dad1 > img,
.dad2 > img,
.dad3 > img {
  position: absolute;
  top: 70%;
  left: 60%;
  z-index: 6;
  width: 20%;
  height: auto;
  opacity: 0.5;
}

.mom1 > img,
.mom2 > img,
.mom3 > img {
  position: absolute;
  top: 70%;
  left: 90%;
  z-index: 6;
  width: 20%;
  height: auto;
  opacity: 0.5;
}

#anxious {
  position: absolute;
  top: 70%;
  left: 12%;
  z-index: 6;
  font-size: 24px;
  color: white;
  display: none;
}

#frantic {
  position: absolute;
  top: 70%;
  left: 38%;
  z-index: 6;
  font-size: 24px;
  color: white;
  display: none;
}
